### Data Types and Conversions
1. int
2. float
3. string

In [1]:
n1 = 13
type(n1)

int

In [5]:
n2 = 13.56
type(n2)

float

In [11]:
n1 = 13
print("n1 = ",n1)
type(n1)

n1 =  13

int

In [12]:
n2 = 13.56
print("n2=",n2)
type(n2)

n2= 13.56

float

In [13]:
s = "apssdc"
print(s)
type(s)

apssdc

str

In [14]:
n = 13
m = 4
type(n)
type(m)

int

In [15]:
n = 30
m = 4
print(type(n))
print(type(m))

<class 'int'>
<class 'int'>

In [17]:
n = 13
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [18]:
n1 = 23
s = str(n1)
print(type(s))

<class 'str'>

In [19]:
num1 = "12"
num2 = "10"
print(num1+num2)

1210

In [20]:
s1 = "gumma"
s2 = "swapna"
print(s1+s2)

gummaswapna

In [21]:
n1 = 12
n2 = 10
print(n1+n2)

22

In [22]:
n1 = 12.5
n2 = 10.5
print(n1+n2)

23.0

### Indentation

In [28]:
n1,n2 = 13,12
if(n1>n2):
print("n1 is greater than n2")

IndentationError: expected an indented block (<ipython-input-28-398a98b3f760>, line 3)

In [29]:
n1,n2 = 13,12
if(n1>n2):
    print("n1 is greater than n2")

n1 is greater than n2

In [33]:
n1,n2 = 13,12
if(n1<n2):
    print("n1 is less than n2")
else:
    print("wrong statement")

wrong statement

### reading input dynamically

In [1]:
x = input()
print(x)
print(type(x))

123
123
<class 'str'>

In [1]:
a = 123
print(type(a))
f = float(a)
print(a)
print(f)

<class 'int'>
123
123.0

In [1]:
n = int(input())
print(n)
print(type(n))

123
123
<class 'int'>

In [2]:
f = float(input("enter a value:"))
print(f)
print(type(f))

enter a value:15.8
15.8
<class 'float'>

### operators
1. arithmetic operators
2. assignment operators
3. comparison operators
4. logical operators
5. identity operators
6. membership operators
7. bitwise operators

### 1. arithematic operators
- +,-,*,/,%,//,**

In [8]:
a,b = 5,3
print("a+b =",5+3)
print("a-b =",5-3)
print("a*b =",5*3)
print("a/b =",5/3)
print("a%b =",5%3)
print("a//b =",5//3)
print("a**b =",5**3)

a+b = 8
a-b = 2
a*b = 15
a/b = 1.6666666666666667
a%b = 2
a//b = 1
a**b = 125

In [4]:
a,b = 5,3
print(5+3)
print(5-3)
print(5*3)
print(5/3)
print(5%3)
print(5//3)
print(5**3)

8
2
15
1.6666666666666667
2
1
125

### 2.assignment operator
 - =,+=,*= etc.,

In [13]:
a = 12
print(a)

12

In [14]:
a += 1 # a = a+1
print(a)

13

In [15]:
a

13

In [16]:
a -= 2
print(a)

11

In [18]:
a *= 2# a=a*2
print(a)

22

### 3. comparision operators
- ==,>,<,>=,<=,!=

In [25]:
n1,n2 = 5,3
print(n1==n2)
print(n1 !=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True

#### 4.logical operators
- and,or,not

In [30]:
a=5
print(a<6 and a>2)
print(a<6 or a>2)

True
True

In [31]:
res = a<6 or a>2
print(not(res))

False

#### 5. identity operators
- is,is not

In [32]:
x,y = 5,3
print(x is y)

False

In [33]:
print(x is not y)

True

In [35]:
a,b = 5,5
print(a is b)
print(a is not b)

True
False

### 6. membership operators
- in,not in

In [36]:
fruits = ["apple","gova","grapes"]
print('apple' in fruits)

True

In [37]:
print('banana' in fruits)

False

In [38]:
print('banana' not in fruits)

True

## 7. bitwise operators
- &,|,^,>>,<<,~

In [42]:
a = int(input("enter 1st value:"))
b = int(input("enter 2nd value:"))
a & b

enter 1st value:5
enter 2nd value:3

1

In [43]:
a|b

7

In [44]:
a << b

40

In [45]:
a >> b

0

In [ ]:
###